<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Vendor" name="vendor" value="{{
          request.form.vendor }}">
         <input type="text" placeholder="owner_id" name="owner_id" value="{{
          request.form.owner_id }}">
        <p>
            <input type="text" placeholder="bill_date" name="bill_date" value="{{
                request.form.bill_date }}">
            <input type="text" placeholder="due_date" name="due_date" value="{{
                request.form.due_date }}">
        <p>
            <input type="text" placeholder="amount_due" name="amount_due" value="{{
                request.form.amount_due }}">
            <input type="text" placeholder="categories in array form [abc,dbc]" name="categories" value="{{
                 request.form.categories }}">
                 <input type="text" placeholder="paymentStatus" name="paymentStatus" value="{{
                    request.form.paymentStatus }}">   

        </p>
            
          </p>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>